<html>

<head>
    <meta name="viewport" content="intial-scale=1, width=device-width">

    <title>
        <%- title %>
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@500&display=swap" rel="stylesheet">
    <%- links %>
</head>

<body class="geist-mono-500">
    <a href="https://github.com/ppl-call-me-tima/tictactoe" target="_blank">
        <img src="images/github.png" alt="github logo" height="60px">
    </a>
    
    <%- body %>
</body>

</html>