<%- contentFor("title") %>
Home
<%- contentFor("links") %>
<link rel="stylesheet" href="css/index.css">
<%- contentFor("body") %>

<div class="choice-box">
    <a href="/tictactoe"><button style="cursor: pointer;">Tic Tac Toe</button></a>
    <a href="/super_tictactoe"><button style="cursor: pointer;">SUPER Tic Tac Toe</button></a>
</div>